.padded-container {
  padding: 5% 0;
}

.padded-header {
  margin-bottom: 3%;
}
.btn-donate {
  background-color: #1034a6 !important;
  color: white !important;
}

.flex {
  display: flex;
}
.small-p {
  margin: 3px 10px;
}

.space-top {
  padding-top: 3%;
}
