.page-footer{
  background-color:rgba(16, 52, 166, 1) ;
  color: white;
}

.footer-nav-link {
  color: white;
}

.footer-nav-link:hover{
  color :rgb(236, 112, 112)
}

.footer-nav-link:visited {
  color:rgb(160, 180, 245) ;
}

.social-icon{
  font-size: 30px;
  margin: 5px 0;
}