.padded-container {
  padding: 5% 0;
}

.padded-header {
  margin-bottom: 3%;
}
.btn-donate {
  background-color: #1034a6 !important;
  color: white !important;
}

.pay-card-container {
  background-color: #1034a6 !important;
  color: white !important;
  display: flex;
  padding: 1% 5%;
}
 .pay-card-content{
   font-size: large;
   letter-spacing: 3px;
   font-weight: bold;
 }