.custom-jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}


.padded-container {
  padding: 5% 0;
}

.padded-header {
  margin-bottom: 3%;
}

.padded-sub-header {
  margin-bottom: 2%;
}